# Core Django & Server
Django==6.0.1
asgiref==3.9.1
sqlparse==0.5.3
gunicorn==21.2.0
whitenoise==6.8.2

# Project Specific Features
django-htmx==1.27.0
django-environ==0.12.0
django-filter==25.1
django-phonenumber-field==8.1.0
djangorestframework==3.16.1

# Utilities
python-dotenv==1.0.1
requests==2.32.3
typing-extensions==4.12.2