<div class = 'filter-overlay' id = 'filter-overlay'>
    <div class = "filter-drawer" id = 'filter-drawer'> 

        <div class = "filter-drawer-header">
            <h3> Filters </h3> 
            <button type = "button" id = "close-filter"> ✕ </button>
        </div>

        <div class="drawer-divider"> </div>
        
        <div class = "drawer-content">

            <div class = "filter-section rating"> 
                <h4> Tripadvisor Ratings </h4>

                <label class = "rating-radio all-rating"> <input type = "radio" name = "rating" id= "all-rating" value = '' {% if request.GET.rating == ''%} checked {%endif%} checked> <strong>All Rating </strong></label>
        
                <label class = "rating-radio"> 
                    <input type = "radio" name = "rating" value = "5" {% if request.GET.rating == '5'%} checked {%endif%}> 
                        <div class="star-rating-stars">
                            <div class="stars-back">★★★★★</div>
                            <div class="stars-front" style="width: 100%">★★★★★</div>
                        </div> 
                        <p> only </p>
                </label>
                
                <label class = "rating-radio"> 
                    <input type = "radio" name = "rating" value = "4"{% if request.GET.rating == '4'%} checked {%endif%}> 
                        <div class="star-rating-stars">
                            <div class="stars-back">★★★★★</div>
                            <div class="stars-front" style="width: 80%">★★★★★</div>
                        </div> 
                        <p> & up </p>
                </label>
    
                <label class = "rating-radio"> 
                    <input type = "radio" name = "rating" value = "3" {% if request.GET.rating == '3'%} checked {%endif%}> 
                        <div class="star-rating-stars">
                            <div class="stars-back">★★★★★</div>
                            <div class="stars-front" style="width: 60%">★★★★★</div>
                        </div> 
                        <p> & up </p>
                </label>       

                <label class = "rating-radio"> 
                    <input type = "radio" name = "rating" value = "2" {% if request.GET.rating == '2'%} checked {%endif%}> 
                        <div class="star-rating-stars">
                            <div class="stars-back">★★★★★</div>
                            <div class="stars-front" style="width: 40%">★★★★★</div>
                        </div> 
                        <p> & up </p>
                </label> 
            </div>

            <div class="drawer-divider"> </div>

            <div class = "filter-section price">

                <h4> Price </h4>

                <div class="range-container">
                    <div class="slider-wrapper">
                        <div class="slider-track" id="track"></div>
                
                        <div class="step-marks">
                            <span class="step-dot" data-value="0"></span>
                            <span class="step-dot" data-value="100"></span>
                            <span class="step-dot" data-value="200"></span>
                            <span class="step-dot" data-value="300"></span>
                            <span class="step-dot" data-value="400"></span>
                            <span class="step-dot" data-value="500"></span>
                        </div>
                
                        <input type="range" name = "min_price" min="0" max="500" value="{{request.GET.min_price | default:0}}" id="min-slider">
                        <input type="range" name = "max_price" min="0" max="500" value="{{request.GET.max_price | default:500}}" id="max-slider">
                
                        <div id="min-tooltip" class="tooltip">$100</div>
                        <div id="max-tooltip" class="tooltip">$400</div>
                    </div>
                </div>
            </div>
            
            <div class="drawer-divider"> </div>

            <div class= "filter-section amenity">
                <h4> Hotel Features </h4>
                <div class = "amenity-section hotel-features">
                    <button type = "button" class = "amenity-btn" data-amenity = "connecting_rooms" aria-pressed = "false"> <i class="fa-solid fa-link"></i> </i> Connecting Room </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "smoke_free" aria-pressed = "false"> <i class="fa-solid fa-smoking"></i> </i> Smoke-free </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "pet_friendly" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask pet"> </span> Pet-friendly </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "inroom_kitchen" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask inroom-kitchen"> </span> In-room Kitchen </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "no_pets" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask no-pets"> </span> Pets not allowed </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "streaming_entertainment" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask stream-entertainment"> </span> Stream Entertainment </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "lounge" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask lounge"> </span> Executive Lounge </button>
                </div>
            </div>

            <div class="drawer-divider"> </div>

            <div class= "filter-section amenity">
                <h4> Guest Services </h4>
                <div class = "amenity-section guest-services">
                    <button type = "button" class = "amenity-btn" data-amenity = "parking" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask parking"></span>Free Parking</button>
                    <button type = "button" class = "amenity-btn" data-amenity = "digital-key" aria-pressed = "false"> <i class="fa-solid fa-key"></i> Digital Key </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "shuttle" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask shuttle"> </span> Airport Shuttle </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "wifi" aria-pressed = "false"> <i class="fa-solid fa-wifi"></i> Free Wifi </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "ev-charging" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask ev-charge"> </span> Ev Charging </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "concierge" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask concierge"> </span> Concierge </button>
                </div>
            </div>

            <div class="drawer-divider"> </div>

            <div class= "filter-section amenity">
                <h4> Dining</h4>
                <div class = "amenity-section dining">
                    <button type = "button" class = "amenity-btn" data-amenity = "breakfast" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask breakfast"></span> Free Breakfast</button>
                    <button type = "button" class = "amenity-btn" data-amenity = "reception" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask evening-reception"></span> Complimentary Evening Reception </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "on-site-restaurant" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask onsite-restaurant"> </span> Onsite Restaurant</button>
                    <button type = "button" class = "amenity-btn" data-amenity = "room_service" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask room-service"></span> Room Service </button>
                </div>
            </div>

            <div class="drawer-divider"> </div>

            <div class= "filter-section amenity">
                <h4> Recreation </h4>
                <div class = "amenity-section dining">
                    <button type = "button" class = "amenity-btn" data-amenity = "beach" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask beach"></span> Beach </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "golf" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask golf"></span> Golf </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "tennis" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask tennis"> </span> Tennis</button>
                    <button type = "button" class = "amenity-btn" data-amenity = "ski" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask ski"></span> Ski </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "casino" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask casino"></span> Casino </button>
                </div>
            </div>

            <div class="drawer-divider"> </div>

            <div class= "filter-section amenity">
                <h4> Fitness & Health</h4>
                <div class = "hotel-list amenity-filter">
                    <button type = "button" class = "amenity-btn" data-amenity = "indoor-pool" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask indoor-pool"></span> Indoor Pool</button>
                    <button type = "button" class = "amenity-btn" data-amenity = "outdoor-pool" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask outdoor-pool"></span> Outdoor Pool </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "gym" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask gym"> </span> Gymnastics </button>
                    <button type = "button" class = "amenity-btn" data-amenity = "spa" aria-pressed = "false"> <span class = "drawer-amenity-section-icon-mask spa"></span> Spa </button>
                </div>
            </div>
        </div>

        <div class = "drawer-footer">
            <div class = "filter-action">
                <button class = 'reset-filter' id = "reset-filter" type = "button" 
                
                
                > Reset filters </button>

                <div class = 'filter-buttons'>
                    <button type = 'submit' class = "apply-filter"> Apply filters</button>
                    <button type = 'button' class = 'cancel-filter' id = "cancel-filter" onclick = "CloseDrawer()"> Cancel </button>
                </div>
            </div>
        </div> 
    </div>
</div>