<div class = "sort">
    <div class = "filter sorting">
        <h6>Sort by</h6>
        <select name = "sorting" class = "filter-options" onchange = "this.form.requestSubmit()">
            <option value =""> Sort By </option>
            <option value="price_asc" {% if request.GET.sorting == "price_asc" %}selected{% endif %}>Price ↑</option>
            <option value="price_desc" {% if request.GET.sorting == "price_desc" %}selected{% endif %}>Price ↓</option>
            <option value="rating_asc" {% if request.GET.sorting == "rating_asc" %}selected{% endif %}>Rating: low to high</option>
            <option value = "rating_desc" {% if request.GET.sorting == "rating_desc" %}selected{% endif %}> Rating: high to low </option>
        </select>
    </div>

    <div class = "filter currency">
        <h6> Select currency </h6>
        <select name = "currency"  class = "filter-options">
            <option value ="usd"> Hotel </option>
        </select> 
    </div>

</div> 