{%extends 'base.html'%}

{%block title%}
    User Login
    {%endblock%}

{%block content%}
<h1> User Login </h1>
<form method = "post" class = "login-with-validation" action = "">
    {% csrf_token %}

    <!-- NON-FIELD ERRORS (e.g. wrong username/password) -->
    {%if form.non_field_errors%}
        <div class = "error-box">
            {% for error in form.non_field_errors%}
                <p> {{error}} </p>
                {%endfor%}
        </div>
    {%endif%}

    <!-- Username-->
    <div class = "login-username"> 
        <label> Username </label>
        {{form.username}}
        {%for error in form.username.errors%}
            <small class = "error"> {{error}} </small>
        {%endfor%}
    </div>

    <!--Password-->
    <div class= "login-assword">
        <label> Password </label>
        {{form.password}}
        {%for error in form.password.errors%}
            <small class = "error"> {{error}} </small>
            {%endfor%}
    </div>
    
    <button class ="form-submit"> Submit </button>
</form>

<div class = "login-compliment-section">
    <a href = "{%url 'register'%}" class = "register-link"> Register </a>
    <a href = "#" class = "forget-link"> Forgot Password? </a>
</div>
{%endblock%}