body,html {
    margin:0;
    padding:0;
    height: 100%;

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex:1;
}

/* -------------------------------------------------------*/
/* Navigation Bar */
/*-------------------------------------------------------*/
.navbar {
    /* background-color: darkgray; */
    /* background-image: 
    radial-gradient(at 0% 100%, rgba(0, 109, 53, 0.922) 10px, 60%),
    radial-gradient(at 100% 0%, rgba(61, 201, 134, 0.134) 10px, 60%); */
    min-height: 3.3rem;
    height: auto;
}

.navbar-left{
    display: flex;
    gap:10px;
    align-items: center;
}

.home, .hotel {
    font-size: 35px;
    display: flex;
    color: #3a3a3a;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 10px;
}

.welcome-text{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    bottom: -35px;
    right: 0;
    background: #222;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/*------------------------------
   Message Section
   -------------------------*/

.message-section{
    position:fixed;

    top: 5rem;
    right: 0.7rem;

    z-index:999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toast {
    position: fixed;

    min-width: 10rem;
    height: auto;

    right:0.7rem;
    top:5rem;

    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    background:  rgb(169, 1, 1);
    color: white;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    opacity:0;
    transform: translateX(120%);
    transition: opacity 0.4s ease, transform 0.4s ease;

    /* animation: slideIn 0.5s ease forwards; */
}

.toast.show{
    opacity: 1;
    transform: translateX(0);
}

.toast::after{
    content: "";
    position: absolute;

    right:-0.5rem;
    top: 1.4rem;

    width:1rem;
    height:1rem;

    transform: rotate(45deg);
    background-color: #000;

    border-radius: 2px;
}

/*------------------------
 Profile Login Logout Register
-------------------------*/

.authentication {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    gap: 5px;
    margin-left: -40px;
}

.profile-hover{
    position:relative;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.profile-hover:hover .welcome-text{
    opacity:1;
    visibility: visible;
}

.home-login, .home-register, .home-profile, .logout{
    font-size:30px;
    text-decoration: none;
    color: #3a3a3a
}

/* -------------------------------------------------------*/
/* PROFILE PAGE */
/*-------------------------------------------------------*/
.profile-page {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid black;
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.welcome-section{
    margin-bottom: 2rem;
}

.welcome-section p {
    font-size: 17px;
}

.account {
    background: #fff;
    padding: 0.2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.user-info {
    margin-bottom: 0.5rem;
}

.user-info li{
    list-style-type: none;
}

.user-actions {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
}

.btn-secondary{
    text-decoration: none;
}

.manager-link {
    text-decoration: none;
}

.no-booking {
    color: #777;
    font-style: italic;
}

.booking-link{
    text-decoration: none;
}

/*-------------------------------------------------------*/
/*Register Page*/
/*-------------------------------------------------------*/

.content.register-bg {
    background-color: rgb(238, 238, 238);
}

.register-page{
    margin:2rem 2rem 0 2rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 90%;
    box-shadow: 0 0.5rem 0.5rem 0 #7c7d7c;

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}

.user-register{

    background-image: 
    radial-gradient(at 0% 100%, rgb(224, 255, 251) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgb(255, 224, 224) 0px, transparent 50%);
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: transparent;
    width:60%;
    
}

.user-register h1{
    font-size: 2.3rem;
    font-weight: bolder;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    color: rgb(55, 55, 55);
}

.register-with-validation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-field{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 1.7rem;
    margin:0.5rem;
}

.help-text {
    position: absolute;
    top: calc(100% + 7px);
    left:0;

    width: 10rem;
    padding: 12px 14px;

    background: white;
    color: #242424;
    border-radius: 10px;

    font-size: 0.85rem;
    line-height: 1.4;

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translateY(-1rem);
    z-index: 999;
}

.reg-field input:focus ~ .help-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.help-text::before {
    content: "";
    position: absolute;

    top: -0.36rem;
    left: 10rem;

    width: 12px;
    height: 12px;

    background: #1f2933;
    transform: rotate(45deg);

    border-radius: 2px;
}

.help-list{
    margin:0;
    padding: 0;
    padding-left: 1rem;
}

.valid-password {
    color: #0b7e6c;
}

.invalid-password {
   color:rgb(169, 1, 1);
}

.help-text-password2{

    position: absolute;

    top:calc(100% + 7px);
    right: -5rem;

    font-size: 0.85rem;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    padding: 0.85rem 1rem;
    width:auto;
    background: white;
    opacity: 0;

    z-index:999;

    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
    transform: translateY(-1rem);
}

.help-text-password2::before{

    content: "";
    position: absolute;

    top: -0.36rem;

    width:0.7rem;
    height:0.7rem;
    background: black;

    transform: rotate(45deg);
    border-radius: 2px;
}

.reg-field input:focus ~ .help-text-password2{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.help-text-password2.valid{
    color:#0b7e6c;
}

.help-text-password2.invalid {
    color: rgb(169, 1, 1);
}

.form-input {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    border-radius: 10px;
    width: 15rem;
    margin-left: 0.5rem;
    border: transparent;
    box-shadow: 0 0 3px rgb(224, 224, 224);

    font-size: 1rem;
}

.register-image{
    width:40%;
    background-image:
        url("../images/register.jpg");
        
    background-size: cover;
    background-position: 60% 50%;
    background-repeat: no-repeat;
}

.form-submit{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    height:2.7rem;
    width:20rem;
    border-radius: 10px;
    background-color: darkcyan;
    border: transparent;
    font-size: 1rem;
    color: white;
    box-shadow: 0 0.3rem 0.5rem 0 darkcyan;
    margin-top: 3rem;
}

.form-submit:hover{
    background-color: rgba(0, 139, 139, 0.563);
}

/* -------------------------------------------------------*/
/*Login Page*/
/*-------------------------------------------------------*/

.login-bg{

   background-color:rgb(238, 238, 238);

}

.login-container{
    background-color: white;

    height: 90%;
    margin:2rem;
    border-radius: 30px;
}

.login-page{

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: space-between;
    height:100%;
    border-radius: 30px;

    background-color: #f8faff;
    background-image: 
        radial-gradient(at 0% 100%, hsla(225, 100%, 94%, 1) 0px, transparent 50%), /* Light Blue top-right */
        radial-gradient(at 100% 0%, hsla(268, 100%, 94%, 1) 0px, transparent 50%); /* Light Lavender bottom-left */

}

.login-image{
    background-image: 
        url('../images/manuel-moreno-DGa0LQ0yDPc-unsplash.jpg');
    background-size: cover;
    background-position: center;

    margin: 1.2rem;
    width:50%;
    border-radius: 30px;
}

.login-section{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width:50%;
    color:rgb(55, 55, 55);

    margin: 1rem;

    position: relative;
}

.login-section h1{
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
}

.sub-text{
    margin: 0 0 1.7rem 0;
    font-size: 1.2rem;
}

.error-box {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
}

.login-username{
    margin: 1rem 0 1rem 0;
}

.login-password{
    margin: 1rem 0 1rem 0;
}

.login-username input, .login-password input{

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    width: 25vw;
    height: 3rem;
    border-radius: 10px;
    outline: none;
    border: transparent;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(202, 210, 232);
    box-sizing: border-box;

    font-size: 1.3rem;
}

.login-compliment-section{
    display: flex ;
    flex-direction: column;
    align-items: flex-end;
}

.register-link, .forget-link{
    color: rgb(106, 106, 106);
    text-decoration: none;
}

.login-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login-btn button{

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    background-color: darkcyan;
    width: 25vw;
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    border: transparent;
    box-shadow: 0 0 3px darkcyan;
}

/* -------------------------------------------------------*/
/*Home Page*/
/*-------------------------------------------------------*/
.hero {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    display:flex;
    align-items: center;
    justify-content: center;
    height:25vh;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,0.45)
        ),
        url("../images/homepage.jpg");
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 1rem;
}

.home-header {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}

.home-searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background: white;
    border-radius: 100px;
    box-shadow: 0 5px 10px 0 #7c7d7c;
    overflow: hidden;
    outline: 1px solid transparent;

    height: 30px;
    width: 30px;
    max-width: 100%;
    margin-inline:auto;
    padding: 3px;

    transition: width 0.4s, outline 0.4s;
}

.home-searchbar:focus-within {
    width: 400px;
    outline: 1px solid #2a2a2a
}

.home-search-input{
    color: #3a3a3a;
    background-color: transparent;
    flex:auto;
    margin-inline: 1rem;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.4s;
}

.home-searchbar:focus-within .home-search-input {
    opacity: 1;
}

.home-searchbar button {
    display:flex;
    flex: none;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
    color: #fff;
    border: none;
    /* padding: 0.5rem 1rem; */
    cursor: pointer;
    height: 30px;
    width:30px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-content: start;
    gap: 24px;
    padding: 40px 0;
    height: 700px;
}

.hotel-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hotel-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.12);
}

.hotel-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.hotel-content {
    padding: 16px;
}

.hotel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-header h3 {
    font-size: 1.1rem;
    margin: 0;
}

.hotel-card-rating {
    font-size: 0.9rem;
    color: #f4b400;
}

.location {
    color: #777;
    font-size: 0.9rem;
    margin: 6px 0 12px;
}

.hotel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 600;
}

.view {
    padding: 6px 14px;
    background: #222;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.85rem;
}

.why-us {
    padding: 10px 0 10px;
    background: #f8f9fb;
    text-align: center;
    margin-bottom: 0px;
}

.why-grid {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.why-item h4 {
    font-size: 0.95rem;
}

.why-item i {
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 2px;
}

.why-item p {
    font-size: 0.8rem;
    color: #666;
}

.footer{
    text-align: center;
    background-color: burlywood;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    margin:0;
}

.footer p{
    margin:0;
}

/* -------------------------
    Hotel List
---------------------------*/

.hotel-list-page{
    padding:1rem;
    display: flex;
    flex-direction: column;
}

#hotel-filter-form {
    display: flex;
    flex-direction: column;
}

/* -------- Destination and Date Bar ---------- */

.destination-date{
    background-color: #ffffff;
    height: 4rem;
    margin: 0 1rem;
    padding: 0 10px;

    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0.3px 1px 3px #000000;
}

.search-field{
    position: relative;
    display: flex;
    align-items: center;
}

.search-field.destination{
    width: 65%;
    gap: 12px;
    height: 100%;
}

.destination-icon{
    font-size: 1.2rem;
}

.search-field.destination input{

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 900;
    font-style: normal;

    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    background: transparent;

    font-size: 1.2rem;
    color: #1e293b;
}

.search-field.destination:focus-within input::placeholder{
    color: #fff;
}

.search-divider {

    width: 2px;
    height: 60%;
    background-color: #d6dbe2;
    margin: 0 2px;
    flex-shrink: 0;
}

.search-field.date-n-update{
    flex:1;
    gap: 10px;
    height: 100%;
    align-items: center;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 0 1fr 0 1fr;
}

.search-field.checkin-contianer{
    position: relative; /* So the input can align to it */
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;

}

.visual-date{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    pointer-events: none; /* Let clicks pass through to the input below */
    z-index: 1;
}

.date-mask{
    height:1.4rem;
    width:1.4rem;

    background-color: black;

    mask-repeat: no-repeat;
    mask-size: contain;

    -webkit-mask-image: url('../icons/calender.svg');
    mask-image: url('../icons/calender.svg');
}

.date-label{
    font-size: 1.2rem;
    /* color: #94a3b8; */
    color: black;
    font-weight: 500;
}

.checkin-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.date-divider {
    width: 1px;
    height: 60%;
    background-color: #d6dbe2;
    margin: 0 2px;
    flex-shrink: 0;
}

.search-field.checkout-contianer{
    position: relative; /* So the input can align to it */
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.checkout-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

#update-hotels{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 1.1rem;

    background-color: transparent;
    padding: 10px ; 
}

#update-hotels:hover{
    transition: 0.3s ease-out;
    background-color: rgb(0, 54, 111);
    color: white;
}

.flatpickr-day.inRange {
    background: #f1f5f9 !important;
    border-color: #f1f5f9 !important;
    box-shadow: -5px 0 0 #f1f5f9, 5px 0 0 #f1f5f9;
}
/*------------------------------------------------*/

/*--------- Calender Drawer --------------*/

/* Ensure the drawer is wide enough for 2 months (approx 650px min) */
#date-picker-drawer {
    width: 660px; /* Specific width for date mode to prevent 'crashing' */
    max-width: 95vw;
    margin:auto;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers everything horizontally */
    width: 100%;
    padding: 1rem 0;
}

/* The Container Fix */
#inline-calendar-container {
    display: inline-block; /* Allows it to be centered by parent */
    width: auto;           /* Don't force 100% width */
    margin: 0 auto;
}

/* Force Flatpickr to use its full width for 2 months */
.flatpickr-calendar.inline {
    margin: 0 auto !important;
    box-shadow: none;
}

/* Adjust the individual month padding so they don't look cramped */
.flatpickr-months .flatpickr-month {
    padding: 0 10px;
}

.date-summary-zone {
    text-align: center;
    padding: 1rem;
    background: #f8fafc; /* Very light grey */
    border-radius: 12px;
    margin: 1rem 0;
}

#drawer-date-range-text {
    font-weight: 600;
    color: #1e293b;
    margin: 0;
}

/*------------ End --------------------*/

/*--------------------------
    Hotel List Navigation Bar 
    -------------------------*/
.filter-bar{
    display: flex; 
    align-items: center;
    height: 7.4rem;
    /* position:fixed; */
    overflow-x: auto;
}

.filter-bar::-webkit-scrollbar:vertical{
    visibility: hidden;
}

.filter-navbar-divider{
    position: relative;
    height: 60%;
    border: 1px solid #cecece;
    top: 0.5rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

.sort{
    display: flex;
}

.sort h6{
    padding:0;
    margin:0;
    font-size: 0.9rem;
    font-weight:bolder;
    margin-bottom: 0.3rem;
}

.sort select{
    width: 16vw;
    height: 6vh;
    border-radius: 3px;
    border: 1px solid #282f39;
}

.filter-options{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
    
    font-size: 1.1rem;

    color: #475569;
}

.filter.sorting {
    margin: 1rem 0.5rem 1rem 2rem; 
    
}

.filter.currency{
    margin: 1rem 1rem 1rem 0.5rem;
}

.filter-options:focus{
    outline: 2px solid currentColor;
}

    /*---------------
    Comaprsion Switch
    -----------------*/

.hotel-comparison {
    display: flex;
    position: relative;
    top:0.7rem;
    margin-right: 1rem;
    align-items: center;
}

.comparison-text{
    margin-right: 0.3rem;
    min-width: 7rem;
    font-weight: 900;
}

.comparison-switch{
    position: relative;
    display: inline-block;
    width:3.3rem;
    height:1.5rem;
}

.comparison-switch input{ /* Hidding default HTML checkbox*/
    opacity: 0;
    width: 0;
    height: 0;
}

.comparison-slider{
    position: absolute;
    cursor: pointer;
    background-color: rgb(184, 184, 184);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    border-radius: 30px;

    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 2px solid rgb(184, 184, 184);

    border:transparent
}

.comparison-slider:before{
    position:absolute;
    content: "";

    width: 1.5rem;
    height: 1.5rem;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;

    background-color: white;
}

.comparison-switch input:checked + .comparison-slider{
    background-color: darkcyan;
}

.comparison-switch input:focus + .comparison-slider{
    box-shadow: 0 0 1px darkcyan;
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

.comparison-switch input:checked + .comparison-slider:before{
    -webkit-transform: translateX(1.8rem);
    -ms-transform: translateX(1.8rem);
    transform: translateX(1.8rem);
}

/* Filter Button*/

.btngroup {
    display: flex;
    align-items: center;
}

.filter-btn{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    background-color: white;
    color:#475569;
    height: 5.3vh;
    width: 7.5vw;
    border-radius: 8px;
    border: 1px solid #282f39;

    position: relative;
    top: 0.7rem;

    font-size: 0.9rem;
    margin: 0 0.3rem 0 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn:hover{
    cursor: pointer;
}

.filter-btn:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.side-btn.filter-btn span {
    display: none;
}

.side-btn.filter-btn span.active {
    display: inline;
    margin-left: 5px;
}

/*-------------------------
  Filter Drawer
  ---------------------*/

.drawer-divider {

    height: 1px;
    background-color: #a1a6ad; /* Modern light grey */
    width: 100%;
    border: none;
}

.filter-overlay{
    position: fixed;

    top:0;
    left: 0;

    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.3); /* Dimmed background */
    backdrop-filter: blur(8px);    /* Soft UI blur effect */
    display: none;                 /* Hidden by default */
    justify-content: center;       /* Precise horizontal center */
    align-items: center;           /* Precise vertical center */
    z-index: 1000;
}

.filter-overlay.active {
    display:flex;
}

.filter-drawer {
    display:none;
}

.filter-drawer.active {
    background: white;
    width: 55%;
    height:88vh;
    padding: 0;
    border-radius: 8px;           /* Large rounded corners like your image */
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
    animation: slideUp 0.3s ease-out; /* Smooth entrance */

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.filter-drawer-header{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-drawer-header h3{
    margin:0.5rem;
    font-size: 1.25rem;
}

.filter-drawer-header button{
    position: absolute;
    right:0.5rem;
    background-color: white;
    border:none;
    font-size: 1.5rem;
    border-radius: 8px;

    cursor: pointer;
}

.drawer-content{
    flex:1;
    overflow-y: auto;
    scroll-behavior: smooth;
    width:auto;

    overflow-x: hidden; 
    padding: 0 1rem; 

    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
        display: none;
    }
}

.filter-section{
    width: 100%;
}

.filter-section.rating{
    display: flex;
    flex-direction: column;
    margin:0.5rem 0 1rem 0;
}

.filter-section.rating h4 {
    font-size: 1.15rem;
    margin:0.3rem 0 0.5rem 0;
}

.rating-radio{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 10px;
    width:auto;
    height:2rem;
}

.rating-radio div{
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.rating-radio.all-rating{
    font-size: 1.1rem;
    color: black;
}

.rating-radio.all-rating strong{
    margin-left: 0.6rem;
}

.rating-radio p { 
    margin-left: 0.3rem;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

.rating-radio input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 1.5rem;
    height:1.5rem;

    border-radius: 50%;
    border: 1px solid #999;

    position: relative;
    display: grid;

    place-content: center;
    margin:0;
}

.rating-radio input:checked{
    background-color: #0b7e6c;
}

.rating-radio input::before{
    content:"";
    width:0.75rem;
    height: 0.75rem;
    transform: scale(0);
    border-radius: 50%;

    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
}

.rating-radio input:checked::before{
    transform: scale(1)
}

.rating-radio input:focus{
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.filter-section.price {
    
    position: relative;
    width:100%;
    margin:0.5rem 0 3rem 0 ;
}

.filter-section.price h4 {
    font-size: 1.15rem;
    margin:0.3rem 0 0.5rem 0;
}

.range-container {
    width: 100%;
    padding:3vh 0 3vh 0; /* Space for tooltips underneath */
    margin-left: 10px;
}

.slider-wrapper {
    position: relative;
    width: 50%;
    height: 6px;
}

/* The Line */
.slider-track {
    width: 100%;
    height:12px;
    background: #E2E8F0;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
}

/* The slidable dots (Thumbs) */
input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none; /* Allows clicking fixed dots through the track */
    top: -10px;
    z-index: 5;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background:darkcyan; /* Coral color from your image */
    cursor: pointer;
    pointer-events: auto;
    border: 3px solid white;
    box-shadow: 0 4px 10px rgba(3, 45, 29, 0.4);
}

/* Fixed clickable dots */
.step-marks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0rem;
    z-index: 2;
}

.step-dot {
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    border:1px solid #000
}

.step-dot:hover {
    transform: scale(1.4);
    background: rgb(1, 159, 159);
}

/* Tooltips underneath the slidable dots */
.tooltip {
    position: absolute;
    top: 1.5rem; /* Moves it below the handle */
    background: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #475569;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transform: translateX(-50%);
}

.filter-section.amenity{
    position:relative;
    margin:0.5rem 0 0rem 0;
    padding-bottom: 1rem;
}

.filter-section.amenity h4{
    font-size: 1.15rem;
    margin:0.3rem 0 1rem 0;
}

.amenity-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;       
    padding: 10px 0;
    margin-left: 10px;
}

.amenity-btn {

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 900;
    font-style: normal;

    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    white-space: nowrap; 
    
    background: #ffffff;
    border: 1.5px solid #ddd;
    border-radius: 50px; 
    font-size: 15px;
    color: black;
    transition: all 0.2s ease;
    cursor: pointer;
}

.amenity-btn.active {
    background: rgb(0, 54, 111);
    color: white;
    border-color: rgb(0, 54, 111);
}

.drawer-amenity-section-icon-mask {
    display: inline-block;
    width: 19px;
    height: 19px;

    background-color: #000000;
    transition: background-color 0.4s ease;
}

.drawer-amenity-section-icon-mask.pet{
    -webkit-mask-image: url("../icons/pet-friendly.svg");
    mask-image: url("../icons/pet-friendly.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.pet.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.inroom-kitchen{
    -webkit-mask-image: url("../icons/inroom_kitchen.svg");
    mask-image: url("../icons/inroom_kitchen.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.inroom-kitchen.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.no-pets{
    -webkit-mask-image: url("../icons/no_pets.svg");
    mask-image: url("../icons/no_pets.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.no-pets.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.stream-entertainment{
    -webkit-mask-image: url("../icons/stream_entertainment.svg");
    mask-image: url("../icons/stream_entertainment.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.stream-entertainment.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.lounge{
    -webkit-mask-image: url("../icons/lounge.svg");
    mask-image: url("../icons/lounge.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.lounge.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.parking{
    -webkit-mask-image: url("../icons/parking2.svg");
    mask-image: url("../icons/parking2.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.parking.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.shuttle{
    -webkit-mask-image: url("../icons/airport-transfer.svg");
    mask-image: url("../icons/airport-transfer.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.shuttle.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.ev-charge{
    -webkit-mask-image: url("../icons/ev-charge.svg");
    mask-image: url("../icons/ev-charge.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.ev-charge.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.concierge{
    -webkit-mask-image: url("../icons/concierge.svg");
    mask-image: url("../icons/concierge.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.concierge.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.breakfast{
    -webkit-mask-image: url("../icons/breakfast.svg");
    mask-image: url("../icons/breakfast.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.breakfast.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.evening-reception{
    -webkit-mask-image: url("../icons/evening-reception.svg");
    mask-image: url("../icons/evening-reception.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.evening-reception.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.onsite-restaurant{
    -webkit-mask-image: url("../icons/onsite-restaurant.svg");
    mask-image: url("../icons/onsite-restaurant.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.onsite-restaurant.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.room-service{
    -webkit-mask-image: url("../icons/room-service.svg");
    mask-image: url("../icons/room-service.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.room-service.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.beach{
    -webkit-mask-image: url("../icons/beach.svg");
    mask-image: url("../icons/beach.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.beach.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.golf{
    -webkit-mask-image: url("../icons/golf.svg");
    mask-image: url("../icons/golf.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.golf.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.tennis{
    -webkit-mask-image: url("../icons/tennis.svg");
    mask-image: url("../icons/tennis.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.tennis.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.ski{
    -webkit-mask-image: url("../icons/ski.svg");
    mask-image: url("../icons/ski.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.ski.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.casino{
    -webkit-mask-image: url("../icons/casino.svg");
    mask-image: url("../icons/casino.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.casino.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.indoor-pool{
    -webkit-mask-image: url("../icons/indoor_pool.svg");
    mask-image: url("../icons/indoor_pool.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.indoor-pool.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.outdoor-pool{
    -webkit-mask-image: url("../icons/outdoor_pool.svg");
    mask-image: url("../icons/outdoor_pool.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.outdoor-pool.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.gym{
    -webkit-mask-image: url("../icons/gym.svg");
    mask-image: url("../icons/gym.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.gym.active{
    background-color: #ffffff;
}

.drawer-amenity-section-icon-mask.spa{
    -webkit-mask-image: url("../icons/spa.svg");
    mask-image: url("../icons/spa.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.drawer-amenity-section-icon-mask.spa.active{
    background-color: #ffffff;
}

.drawer-footer{
    margin-top: 0.5rem;
    position: sticky;
    height: 7.3vh;
}

.filter-action{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-filter{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    background-color: transparent;
    color: rgb(0, 54, 111);
    margin:0.3rem 0 0 1rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    border: none;
    text-decoration: underline;

    cursor: pointer;
}

.filter-buttons {
    margin:0.3rem 1rem 0.5rem 0;
}

.apply-filter{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    background-color: rgb(0, 54, 111);
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 3px;
    border: transparent;

    cursor: pointer;
}

.cancel-filter {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: white;
    border: 1px rgb(0, 54, 111) solid;
    color: rgb(0, 54, 111);
    border-radius: 3px;
    font-size: 1rem;

    cursor: pointer;
}

/* Detail Amenity Selection*/
.detail-amenity-selection{
    display:flex;
    align-items: center;
    
    position:relative;
    top: 0.7rem;
}

.amenity-btn.selection-btn{
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 900;
    font-style: normal;

    display:flex;
    align-items: center;

    height:5.3vh;
    /* min-width: 11.4rem; */
    background-color: white;
    margin-right: 0.5rem;

    color:#475569;
    border-radius: 30px;
    border: 1px solid #282f39;

    padding: 0 0.3rem 0 0.3rem;
}

.amenity-btn.selection-btn:hover{
    cursor: pointer;
}

.amenity-intro{
    margin: 0.3rem 0.7rem 0.3rem 0.5rem;
    font-size: 0.9rem;
    /* min-width: 8rem; */
    white-space: nowrap;
}

.icon-mask{
    display: inline-block;
    width: 1.5rem;
    height:1.5rem;

    margin:0.3rem 0 0.3rem 0.7rem;

    background-color: #475569;
    transition: background-color 0.4s ease;
}

.breakfast-icon{

    mask-image: url('/static/icons/breakfast.svg');
    -webkit-mask-image: url('/static/icons/breakfast.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.parking-icon{
    mask-image: url('../icons/parking2.svg');
    -webkit-mask-image: url('../icons/parking2.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
}

.pet-icon {
    mask-image: url('../icons/pet-friendly.svg');
    -webkit-mask-image: url("../icons/pet-friendly.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.shuttle-icon{
    background-color: #475569;
    mask-image: url('../icons/airport-transfer.svg');
    -webkit-mask-image: url("../icons/airport-transfer.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.amenity-btn.selection-btn.active{

    background-color: rgb(0, 109, 109);
    color: white;

    outline: 2px solid black;
    outline-offset: 1px ;
    
}

.amenity-btn.selection-btn.active .icon-mask{
    background-color: white;
}

.section-divider{
    width:100%;
    border: 1px solid darkcyan;
    
}

/*--------------------------------
    Selected Filter Section
-----------------------------------*/

.selected-filter-section{
    display: flex;
    gap: 4px;
    overflow-x: auto;
    padding:0 0 1rem 1rem;
}

.selected-amenity-capsule {
    flex-shrink: 0;
    display: inline-flex;
    border-radius: 30px;
    border: 1px solid black;
   
    padding: 5px;

    align-items: center;
    width: auto;
    gap: 5px;
}

.selected-close{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 10px;
    margin-left: 5px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.selected-icon {
    display: inline-block;
    background-color: #475569;

    height: 1.1rem;
    width: 1.1rem;

    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 0.5rem;
    margin-left: 5px;
}

.shuttle{
    -webkit-mask-image: url('../icons/airport-transfer.svg');
    mask-image: url('../icons/airport-transfer.svg');
}

.connecting_rooms{
    -webkit-mask-image: url('../icons/connecting_rooms.svg');
    mask-image: url('../icons/connecting_rooms.svg');
}

.pet_friendly{
    -webkit-mask-image: url('../icons/pet-friendly.svg');
    mask-image: url('../icons/pet-friendly.svg');
}

.no_pets {
    -webkit-mask-image: url('../icons/no_pets.svg');
    mask-image: url('../icons/no_pets.svg');
}

.smoke_free {
    -webkit-mask-image: url('../icons/smoke_free.svg');
    mask-image: url('../icons/smoke_free.svg');
}

.stream_entertainment{
    -webkit-mask-image: url('../icons/stream_entertainment.svg');
    mask-image: url('../icons/stream_entertainment.svg');
}

.inroom_kitchen{
    -webkit-mask-image: url('../icons/inroom_kitchen.svg');
   mask-image: url('../icons/inroom_kitchen.svg');
}

.lounge{
    -webkit-mask-image: url('../icons/lounge.svg');
    mask-image: url('../icons/lounge.svg');
}

.wifi {
    -webkit-mask-image: url('../icons/wifi.svg');
    mask-image: url('../icons/wifi.svg');
}

.parking {
    -webkit-mask-image: url('../icons/parking2.svg');
    mask-image: url('../icons/parking2.svg');
}

.digital-key {
    -webkit-mask-image: url('../icons/digital-key.svg');
    mask-image: url('../icons/digital-key.svg');
}

.ev-charge {
    -webkit-mask-image: url('../icons/ev-charge.svg');
    mask-image: url('../icons/ev-charge.svg');
}

.concierge {
    -webkit-mask-image: url('../icons/concierge.svg');
    mask-image: url('../icons/concierge.svg');
}

.breakfast {
    -webkit-mask-image: url('../icons/breakfast.svg');
    mask-image: url('../icons/breakfast.svg');
}

.reception {
    -webkit-mask-image: url('../icons/evening-reception.svg');
    mask-image: url('../icons/evening-reception.svg');
}

.onsite-restaurant {
    -webkit-mask-image: url('../icons/onsite-restaurant.svg');
    mask-image: url('../icons/onsite-restaurant.svg');
}

.room_service {
    -webkit-mask-image: url('../icons/room-service.svg');
    mask-image: url('../icons/room-service.svg');
}

.beach {
    -webkit-mask-image: url('../icons/beach.svg');
    mask-image: url('../icons/beach.svg');
}

.golf {
    -webkit-mask-image: url('../icons/golf.svg');
    mask-image: url('../icons/golf.svg');
}

.tennis {
    -webkit-mask-image: url('../icons/tennis.svg');
    mask-image: url('../icons/tennis.svg');
}

.ski {
    -webkit-mask-image: url('../icons/ski.svg');
    mask-image: url('../icons/ski.svg');
}

.casino {
    -webkit-mask-image: url('../icons/casino.svg');
    mask-image: url('../icons/casino.svg');
}

.indoor-pool {
    -webkit-mask-image: url('../icons/indoor_pool.svg');
    mask-image: url('../icons/indoor_pool.svg');
}

.outdoor_pool {
    -webkit-mask-image: url('../icons/outdoor_pool.svg');
    mask-image: url('../icons/outdoor_pool.svg');
}

.gym{
    -webkit-mask-image: url('../icons/gym.svg');
    mask-image: url('../icons/gym.svg');
}

.spa {
    -webkit-mask-image: url('../icons/spa.svg');
    mask-image: url('../icons/spa.svg');
}




/*------------------------------
    Hotel List and Card
    ---------------------------*/
.hotels-and-map{
    /* display: flex;
    gap:10px;
    position:relative; */
    display:grid;
    grid-template-columns: minmax(0, 2fr) 1fr;
    gap: 10px;
    width: 100%;
}

.hotels-list-section{
    padding:0.5rem 0 0 0;
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 999;
}

.hotel-showing{
    padding:0 0.5rem 0 1.1rem;
    font-size: 1.7rem;
    color:rgb(96, 96, 96)
}

.city-state{
    padding:1rem;
    margin: 0.3rem 1rem 0 1rem;
    width:93%;
    height: 0.9rem;
    background: rgb(0, 156, 156);
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
}

.hotel-results{
    padding: 0.5rem 1rem 1rem 1rem;
}

.hotel-list-grid{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 0.7rem;
    margin-bottom: 20px;
}

.hotel-list-hotel-card{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    display: flex;
    flex-direction: column;
    height: 480px;
}

.hotel-list-hotel-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.12);
}

.hotel-list-hotel-card.active{
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.hotel-list-hotel-image{
    width: 100%;
    height: 300px;
    overflow:hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hotel-list-hotel-image img{
    object-fit: cover;
    width:100%;
    height: 100%;
}   

.hotel-list-hotel-meta{
    height:180px;
    width: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hotel-list-hotel-header{
    display: flex;
    justify-content: space-between;
}

.hotel-list-hotel-header h3{
    margin: 0;
    font-weight: bolder;
    font-size: 1.3rem;
}

.hotel-list-hotel-content{
    display: flex;
    justify-content: space-between;
    height:100px;
    margin-top: 0.7rem;
}

.hotel-list-hotel-content-left{
    display: flex;
    flex-direction: column;
    /* gap:0.5rem; */
}

.hotel-list-hotel-content-left a{
    color: #475569;
    font-size: 0.9rem;
}

.hotel-list-hotel-content-left .star-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.35rem;
    margin:0;
}

.star-rating .star-rating-mask-icon{
    display: inline-block;
    width: 1.2rem;
    height:1.2rem;

    margin:0.3rem 0.3rem 0.3rem 0;

    background-color: #475569;
    transition: background-color 0.4s ease;

    mask-image: url('../icons/star-rating.svg');
    -webkit-mask-image: url('../icons/star-rating.svg');
    mask-size: contain;
    mask-repeat: no-repeat;

}

.hotel-list-hotel-content-left .star-rating-stars {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #ccc;
    height:auto;
}

.hotel-list-hotel-content-left .stars-front{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #0b7e6c;
}

.hotel-list-hotel-content-left .rating {
    font-size: 1rem;
    font-weight: bolder;
}

.hotel-list-hotel-content-left .review{
    font-size: 0.8rem;
    color: rgb(157, 157, 157);
}

.hotel-list-hotel-content-right{
    display:flex;
    flex-direction: column;

    position: relative;

    top: -1rem;
    right:-1rem;
}

.hotel-list-price-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-list-pricing{
    position:relative;
    display: flex;
    width: 6.5rem;
    right: 0.5rem;
}

.hotel-list-from{
    font-weight: bolder;
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    margin-right:0.5rem;
}

.hotel-list-start-pricing{
    font-size: 2rem;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
}

.additional-info{
    margin-left: 0.5rem;
    position: relative;
    display: flex;
}

.info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
}

.info-tooltip{
    visibility: hidden;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

    z-index: 999;
    width: 15rem;
    height: 2.3rem;
    padding: 0.3rem;

    color: rgb(50, 50, 50);
    background-color: #efefef;
    font-size: 0.9rem;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.info-tooltip:before{
    content: "";
    position: absolute;

    width: 10px;
    height: 10px;

    top: 1.1rem;
    left: -0.3rem;

    background-color: #efefef;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: -1;
}

.info-icon:hover + .info-tooltip{
    visibility: visible;
    opacity: 1;
}

.hotel-list-hotel-content-right a{
    height: 2.5rem;
    width: 9rem;
}

.hotel-list-hotel-footer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 0.7rem;
}

.footer-amenities{
    display: flex;
    align-items: center;
}

.little-icon {

    display: inline-block;
    background-color: #475569;

    height: 1.1rem;
    width: 1.1rem;

    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 0.1rem;
}

.indoor_pool{
    -webkit-mask-image: url('../icons/indoor_pool.svg');
    mask-image: url('../icons/indoor_pool.svg');
}

.parking{
    -webkit-mask-image: url('../icons/parking2.svg');
    mask-image: url('../icons/parking2.svg');
}

.outdoor_pool{
    -webkit-mask-image: url('../icons/outdoor_pool.svg');
    mask-image: url('../icons/outdoor_pool.svg');
}

.breakfast{
    -webkit-mask-image: url('../icons/breakfast.svg');
    mask-image: url('../icons/breakfast.svg');
}

.pet-friendly{
    -webkit-mask-image: url('../icons/pet-friendly.svg');
    mask-image: url('../icons/pet-friendly.svg');
}

.little-amenity-intro{
    font-size: 0.88rem;
    font-weight: lighter;
    margin-left: 5px;
}

/*--------------------------
    Map Section
-----------------------*/
.map-section {
    padding: 1rem 1rem 0 0;
    top:40px;
   
    position: sticky;
    
    height: calc(100vh - 40px);
    z-index: 0;
}

#hotel-map{

    width: 100%;
    height: 100%;
    border-radius: 2px; /* Matches your Soft UI cards */
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.hotel-marker .marker-pin {
    font-family: "Goudy Bookletter 1911", serif;
    font-style: normal;

    background: darkcyan;
    color: white;
    border-radius: 999px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
    width:80%;
    height:80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-marker--active .marker-pin {
    background: rgb(0, 81, 81);
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
}

.cluster{
    font-family: "Goudy Bookletter 1911", serif;
    font-style: normal;

    background: grey;
    color:white;
    font-weight: 900;
    font-size: 20px;
    height:100%;
    width:100%;

    border-radius: 50%;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-popup-content-wrapper {
    transition: transform 0.15s ease-out;
}

/*-----------------------
    Pagination
------------------------*/

.pagination-divider {
    width: 100;
    border: 0.5px solid rgb(188, 188, 188);
}

.pagination-control{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    background-image: 
        radial-gradient(at 0% 100%, rgb(219, 251, 244) 0px, transparent 70%), /* Light Blue top-right */
        radial-gradient(at 100% 0%, rgb(235, 235, 235) 0px, transparent 70%); /* Light Lavender bottom-left */
}

.prev-page{
    margin-right: 20px;
}

.next-page{
    margin-left: 20px;
}

.prev-page.enable{
    cursor: pointer;
}

.next-page.enable{
    cursor: pointer;
}
/* -----------------------
   Hotel Detail
--------------------------*/
.hotel-detail {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;

    background-color: #fff;
    margin: 3rem;
    box-shadow: 0 5px 10px 0 #7c7d7c;
    border-radius: 30px;

    display:flex;
    justify-content: space-between;
}

.hotel-detail-left {
    width: 49.5%;
    height:auto;
    /* border: 1px solid black; */
    background-color: rgb(240, 239, 239);
    border: none;
    border-radius: 30px;
}

.hotel-detail-header{
    padding-left:1rem;
}

.hotel-detail-header h3{
    font-size: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.hotel-info {
    display: flex;
    gap: 2rem;
}

.info a{
    color: #3a3a3a;;
}

.image-gallery{
    margin-top: 0.7rem;
}

.hotel-image img{
    width:100%;
    height:98%;
}

.room-image {
    width:100%;
    height:10%;
    overflow-x:auto;
    display: flex;
    gap: 1px;
}

.room-image img{
    width: 15vh;
    height: 15vh;
}

.room-image::-webkit-scrollbar{
    display: none;
}

.thumbnail {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.thumbnail:hover {
    opacity: 1;
    transform: scale(1.03);
}

.thumbnail.active {
    opacity: 1;
    outline: 2px solid #0b7e6c;
}


.divider {
    height: auto; 
    width:98%;               
    margin: 0.3rem;          
}

.description-text {
    margin: 0.3rem 10rem 1rem 1rem;
}

.description-text h3{

    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.description-text p{
    width:auto;
    font-size: 15px;
}

.hotel-detail-right {
    width:49.5%;
    height:auto;

    display: flex;
    flex-direction: column;
}

.trust {
    display:flex;
    margin-left: 10px;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
    margin:0;
}

.star-rating{
    display:flex;
    margin-bottom:-20px;
    justify-content: flex-start;
    margin-left:0.3rem;
}

.star-rating-icon {
    font-size: 1.5rem;
    color: black
}

.star-rating-stars {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #ccc;
}

.stars-front {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #0b7e6c;
}

.score-rating{
    padding-top:1rem;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 0.5rem;
}

.price-date {
    display: flex;
}

.pricing {
    display: flex;
    width: 6.5rem;
}

.pricing .from{
    font-weight: bold;
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    margin-right:0.5rem;
}

.pricing .start-pricing {
    font-size: 2rem;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
}

.date-selection-btn{

    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 1rem;

    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    background-color: darkcyan;
    color: white;
    margin: 1rem 1rem 2rem 0.5rem;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;;
}

.date-selection-btn:hover{
    transition: 0.3s ease-out;
    background-color: rgb(0, 110, 110);
}

.amenities {
    margin-left:1rem;
    margin-right:1rem; 
    margin-bottom: 1.5rem;
}

.amenity-header {
    padding:0;
    font-size: 1.5rem;
    margin:0.3rem;
}

.amenity-divider{
    border: 0.5px solid lightgray;
    width:auto;
    margin-bottom: 10px;        
}

.amenity-items{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.amenity-item {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #fff9f9e8;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px;
    height: 3rem;
    flex: 0 0 (33.33% - 10px);
    box-sizing: border-box;
}

.amenity-item:hover {
    background: #eef1f6;
    transform: translateY(-2px);
}

.amenity-item i{
    font-size: 23px;
    margin-right: 5px;
}

.amenity-item span{
    color: #3a3a3a
}

.overview{
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom: 1.5rem;
}

.overview-header{
    padding:0;
    font-size: 1.5rem;
    margin:0.5rem;
}

.overview-divider{
    border: 0.5px solid lightgray;
    width:auto;
    margin-bottom: 0.3px; 
}

.hotel-policies{
    margin-top: 0.5rem;
}

.policy-odd{
    display:grid;
    grid-template-columns: 3.5rem 1fr;
    gap: 6px 16px;
    background: lightgrey;
    padding: 0.5rem;
}

.policy-even{
    display:grid;
    grid-template-columns: 3.5rem 1fr;
    gap: 6px 16px;
    background: whitesmoke;
    padding:0.5rem;
}

.policy-odd dt {
    display:flex;
    align-items: center;
}

.policy-even dt {
    display:flex;
    align-items: center;
}

.hotel-policies dt{
    font-weight: bolder;
}

/*-----------------------------------------------
    Room Section
---------------------------------------------*/
.room-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.room-section-header {
    padding:0;
    font-size: 1.5rem;
    margin:0.5rem;
}

.room-divider{
    border: 0.5px solid lightgray;
    width:auto;
    margin-bottom: 0.3px; 
}

.room-carousel {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-radius: 10px;
}

.room-viewpoint {
    overflow: hidden;
}

.room-slides {
    display:flex;
    transition: transform 0.4s ease;
}

.room-slide {
    display:flex;
    flex-direction: column;
    text-align: center;
    min-width:100%;
    height:50vh;
    box-sizing: border-box;
    overflow: hidden;
}

.room-slide img{
    margin-left: 10%;
    margin-right: 10%;
    height: 15rem;
    width: 80%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.room-scroll{
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 0.7rem;
}

.room-scroll::-webkit-scrollbar{
    display:none;
}

.nav-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);

    z-index: 10;
    width:2rem;
    height:2rem;
    border-radius: 50%;
    border: none;

    opacity: 0.3;
    transition: 
        opacity 0.25s ease,
        transform 0.2s ease,
        background-color 0.2s ease;
}

.room-carousel:hover .nav-arrow {
    opacity: 0.5;
}

.room-carousel:hover .nav-arrow:hover {
    opacity: 1;
}

.nav-arrow i{
    font-size: 1.5rem;
    color: darkcyan
}

.nav-arrow.left {
    left: 10px;
}

.nav-arrow.right {
    right: 10px;
}

.nav-arrow.disabled {
    opacity: 0.1;
    pointer-events: none;
}

/*-----------------------------------------------
    Room Information
---------------------------------------------*/
.room-scroll{
    overflow-y: auto;
    flex:1;
    scroll-behavior: smooth;
}

.room-info {
    background: #ffffff;
    /* border-top: 1px solid #eee; */
}

.room-info-header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;;
}

.room-type {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 0rem;
    padding:0;
}

.room-info-body h4{
    margin: 0.3rem;
    padding-right: 26rem;
    font-size: 1.3rem;
}

.room-amenities-divider {
    border: 0.5px solid lightgrey;
    margin-bottom: 0.3px; 
    margin-left:10%;
    margin-right:10%;
}

.room-amenities-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin-top: 0.3rem;
    margin-left:10%;
    margin-right:10%;
}

.room-amenity-item{
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    gap:0.3rem;
    transition: background 0.2s ease, transform 0.2s ease;
}

.room-amenity-item i {
    color: #28282866;
}

.room-info-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgb(221, 221, 221); */
    position: sticky;
    border-top: 1px solid #eee;

    border-radius: 10px;
    height:4rem;

    bottom: 0;
    gap:1rem;
    margin-bottom: 0.3rem;
}

.room-price{
    font-size: 1.5rem;
}

.btn-book{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    border:transparent;
    width:25%;
    height:60%;
    color:white;
    background-color: darkcyan;
    text-decoration: none;
    border-radius: 50px;
    box-sizing: border-box;
}
