<nav class = "navbar"> 
    <div class="navbar-left"> 
        <a href = "{% url 'home_page' %}" class="home">
            <span role = "img" aria-label="home"> <i class="fa-solid fa-house"></i></span></a> 

        <a href = "{% url 'hotels' %}" class= "hotel" >
            <span role = "img" aria-label="hotel"> <i class="fa-solid fa-hotel"></i> </span></a> 

        {% comment %} <form class ="searchbar", action = "{% url 'hotels' %}", method="get"> 
            <label for="search-input"></label>
            <input type="text" class="searchbar-input" name="query" placeholder="...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form> {% endcomment %}
    </div>

    <div class = "authentication">
        {% if user.is_authenticated %}
            <div class = "profile-hover">
                <span class = "welcome-text">Hi, {{user.username}}</span>
                <a href="{% url 'profile' %}" class = "home-profile">
                    <i class="fa-solid fa-address-card"></i></a> <br>
            </div>
            <a href = "{% url 'logout' %}" class = "logout"> 
                <i class="fa-solid fa-circle-xmark"></i></a> <br>
            </a>
        {% else %}
            <a href = "{% url  'login' %}" class = "home-login"> 
                <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href = "{% url 'register' %}" class = "home-register"> 
                <i class="fa-solid fa-registered"></i></a>
        {% endif %}
    </div>
    
</nav>