<div id - "amenities-input" hidden>
    <input type = "checkbox" value = 'beach' id = 'beach' name = "amenities" {% if "beach" in amenities %}checked{% endif %}>
    <input type = "checkbox" value = "golf" id = "golf" name = "amenities" {% if "golf" in amenities %}checked{% endif %}> 
    <input type = "checkbox" value = "tennis" id = "tennis" name = "amenities" {% if "tennis" in amenities %}checked{% endif %}>
    <input type = "checkbox" value = "ski" id = "ski" name = "amenities" {% if "ski" in amenities %}checked{% endif %}> 
    <input type = "checkbox" value = "casino" id = "casino" name = "amenities" {% if "casino" in amenities %}checked{% endif %}> 
</div>