<section class = "filter-bar"> 

    {% include "hotels/filters/_sorting.html" %}

    <div class = "hotel-comparison">
        <span class = "comparison-text">Compare Hotels</span>
        <label class = "comparison-switch">
            <input type = "checkbox">
            <span class = "comparison-slider"> </span>
        </label> 
    </div>

    <div class = 'side-btn btngroup'>
        <button type = "button" class = 'side-btn filter-btn' id = "open-filter"> 
            All Filters 
            <span id = "filter-count" class= "filter-count"> </span>
        </button>
        
        <button type = "button" class = 'side-btn filter-btn' id = "open-amenity-filter"> Amenity </button>
        <button type = "submit" class = 'side-btn filter-btn' id = "filterbar-reset-filter" data-action = 'reset'> Reset </button>
    </div>

    <div class = "filter-navbar-divider"> </div>

    <div class = 'filter-overlay' id = 'filter-overlay'>

        {% include "hotels/filters/_general_drawer.html" %}

        {% include "hotels/filters/_amenity_drawer.html" %} 

    </div>

    <div class = "detail-amenity-selection">
        <button class = 'amenity-btn selection-btn' type = "sumbit" onclick = "select()" data-amenity = "breakfast" aria-pressed = "false"> <span class = "icon-mask breakfast-icon"></span> <span class = "amenity-intro">Free Breakfast ({{amenity_count_map.breakfast | default:0 }})</span> </button>
        <button class = 'amenity-btn selection-btn' type = "submit" onclick = "select()" data-amenity = "parking" aria-pressed = "false"> <span class = "icon-mask parking-icon"></span> <span class = "amenity-intro">Free Parking ({{amenity_count_map.parking| default:0 }})</span> </button>
        <button class = 'amenity-btn selection-btn' type = "submit" onclick = "select()" data-amenity = "pet_friendly" aria-pressed = "false"> <span class = "icon-mask pet-icon"></span> <span class = "amenity-intro">Pet friendly ({{amenity_count_map.pet_friendly | default:0 }})</span> </button>
        <button class = 'amenity-btn selection-btn' type = "submit" onclick = "select()" data-amenity = "shuttle" aria-pressed = "false"> <span class = "icon-mask shuttle-icon"></span> <span class = "amenity-intro">Airport Shuttle ({{amenity_count_map.shuttle | default:0 }})</span> </button>
    </div>

</section>