{%extends "base.html"%}

{% block content%}

<div class = "hotel-list-page">
    <form   method="get" id="hotel-filter-form" hx-get="{% url 'hotels' %}" hx-target="#hotel-results-wrapper" hx-push-url="true" hx-on:submit = "normalizeFormParams(this); shouldFitMap = true">
        {% include "hotels/filters/amenities/_hotel_features.html" %}
        {% include "hotels/filters/amenities/_guest_services.html" %}
        {% include "hotels/filters/amenities/_dining.html" %}
        {% include "hotels/filters/amenities/_fitness_n_health.html" %}
        {% include "hotels/filters/amenities/_recreation.html" %}
        {% include "hotels/_search_bar.html" %}
        {% include "hotels/_filter_bar.html" %}
    </form>

    <div class = "section-divider"> </div>

    <section class = "hotels-and-map">

        <div class = "hotels-list-section" id = 'hotel-results-wrapper' hx-on = "htmx:afterSwap: updateMapFromDOM()">
            {% include 'hotels/_hotel_result_block.html'%}
        </div>

        <aside class = "map-section">
            {% include "hotels/_hotel_map.html"%}
        </aside>

    </section>
    
    <section class = 'TBD'> <section>
</div>
{%endblock%}

